section.main__item.follow
  div.follow__wrapper
    div.follow__gallery.gallery
      img.gallery__image(src=require('Images/follow-image-1.jpg') alt="Присоединяйтесь к нам" width=233 height=233)
      img.gallery__image(src=require('Images/follow-image-2.jpg') alt="Присоединяйтесь к нам" width=233 height=233)
      img.gallery__image(src=require('Images/follow-image-3.jpg') alt="Присоединяйтесь к нам" width=233 height=233)
      img.gallery__image(src=require('Images/follow-image-4.jpg') alt="Присоединяйтесь к нам" width=233 height=233)
      img.gallery__image(src=require('Images/follow-image-5.jpg') alt="Присоединяйтесь к нам" width=233 height=233)
      img.gallery__image(src=require('Images/follow-image-6.jpg') alt="Присоединяйтесь к нам" width=233 height=233)
    div.follow__text-content
      h2.follow__title.title-medium Присоединяйтесь к нам
      p.follow__description.paragraph-medium Подпишитесь на наш аккаунт @marooncare и узнавайте о новиках и акциях первыми
      a.follow__button.button.button--gray(href='#' aria-label='Подписаться') Подписаться

